USE [IDH_DWH]
GO
/****** Object:  Table [dbo].[D_ROAD_TYPE]    Script Date: 2018-12-01 17:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_ROAD_TYPE](
	[ROAD_TYPE_RK] [smallint] NULL,
	[Road_Type] [varchar](28) NULL
) ON [PRIMARY]
GO
