USE [IDH_DWH]
GO
/****** Object:  Table [dbo].[D_ACCIDENT_SEVERITY]    Script Date: 2018-12-01 17:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_ACCIDENT_SEVERITY](
	[ACCIDENT_SEVERITY_RK] [smallint] NULL,
	[Accident_Severity] [varchar](7) NULL
) ON [PRIMARY]
GO
