USE [IDH_DWH]
GO
/****** Object:  Table [dbo].[D_REGION]    Script Date: 2018-12-01 17:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_REGION](
	[REGION_RK] [smallint] NULL,
	[Region_nm] [varchar](29) NULL
) ON [PRIMARY]
GO
