USE [IDH_DWH]
GO
/****** Object:  Table [dbo].[D_TIME_OF_DAY]    Script Date: 2018-12-01 17:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_TIME_OF_DAY](
	[TIME_OF_DAY_RK] [int] IDENTITY(1,1) NOT NULL,
	[Time_from] [time](3) NOT NULL,
	[Time_to] [time](3) NOT NULL,
	[Time_of_day] [varchar](max) NOT NULL,
 CONSTRAINT [PK_D_TIME_OF_DAY] PRIMARY KEY CLUSTERED 
(
	[TIME_OF_DAY_RK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
